# Introducción a las Listas

## Crear una Lista

Para crear una lista, debemos de asignar una secuencia de valores a una variable. Cada valor está separado por una coma y rodeado por corchetes (`[]`). En el ejemplo siguiente se almacena la lista de todos los planetas de la variable `planets`:

In [39]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

## Acceder a los elementos de la lista por índice

Podemos acceder a un elemeno de una lista poniendo el índice del elemento entre `[]` después del nombre de la variable de lista. Los índices comienzan desde 0, por lo que en el siguiente código, `planets[0]` es el primer elemento de la lista `planets`:

In [40]:
print('The first element is: ', planets[0])
print('The second element is: ', planets[1])
print('The third element is: ', planets[2])

The first element is:  Mercury
The second element is:  Venus
The third element is:  Earth

Podemos modificar un elemento de una lista mediante el índice, de la siguiente forma:

In [41]:
planets[3] = 'Red Planet'
print('The fourth planet Mars is also known as: ', planets[3])

The fourth planet Mars is also known as:  Red Planet

## Determinar la longitud de la Lista

Podemos usar la función `len` para obtener la longitud de una lista:

In [42]:
number_of_planets = len(planets)
print(f'There are {number_of_planets} planets in the spolar system.')

There are 8 planets in the spolar system.

## Agregar valores a las Listas

Las listas en Python son dinámicas. Es decir, puedes agregar y quitar elementos después de crearlos. Para agregar un elemento a una lista, podemos utilizar el método `.append(value)`.

El código siguiente agrega la cadena `'Pluto'` al final de la lista `planets`:

In [43]:
planets.append('Pluto')
number_of_planets = len(planets)
print(f'There are actually {number_of_planets} planets in the solar system.')

There are actually 9 planets in the solar system.

## Eliminar valores de una Lista

Podemos eliminar el último elemento de una lista llamando al método `.pop()` de la variable de la lista:

In [44]:
planets.pop() # Goodbye, Pluto
number_of_planets = len(planets)
print(f'No, there are definitely {number_of_planets} planets in the solar system.')

No, there are definitely 8 planets in the solar system.

## Ìndices Negativos

Los índices negativos comienzan al final de la lista y trabajan hacia atrás.

En el ejemplo siguiente, un índice de `-1` devuelve el último elemento de una lista. Un índice de `-2` retorna el penúltimo.

In [45]:
print(f'The last planet is {planets[-1]}')
print(f'The last but one planet is {planets[-2]}')

The last planet is Neptune
The last but one planet is Uranus

## Buscar un valor en una Lista

Para buscar un valor en una lista, usamos el método `index()` de la lista. Este método busca el valor y devuelve el índice de ese elemento en la lista. Si no se encuentra una coincidencia, devuelve el valor `-1`.

En el ejemplo siguiente se muestra el uso de 'Jupiter' como valor de índice.

In [46]:
jupiterIndex = planets.index('Jupiter')
print(f'Jupiter is the {jupiterIndex + 1} planet in the solar system.')

Jupiter is the 5 planet in the solar system.

## Trabajar con Números en Listas

### Almacenar números en Listas

Para almacenar números con decimales, utiliamos el tipo `float`. Para crear un float, introduzca el número con el decimal y asígnelo a una variable:

In [47]:
gravityOnEarth = 1.0
gravityOnTheMoon = 0.166

Crearemos una lista que incluya las fuerzas gravitacionales de los 8 planetas en el sistemas solar, en G:

In [48]:
gravityOnPlanets = [0.378, 0.907, 1.0, 0.379, 2.36, 0.916, 0.889, 1.12]

En el siguiente ejemplo, podemos calcular el peso de un bus de dos pisos en diferentes planetas obteniendo el valor de la lista:

In [49]:
busWeight = 12650 ## In kg, On Earth

print(f'On Earth, a double-decker bus weighs {busWeight} kg.')
print(f'On Mercury, a double-decker bus weighs {busWeight * gravityOnPlanets[0]} kg.')

On Earth, a double-decker bus weighs 12650 kg.
On Mercury, a double-decker bus weighs 4781.7 kg.

### min() y max() con listas

Podemos calcular los números más grandes y más pequeños de una lista. `max()` devuelve el número más grande y `min()` devuelve el más pequeño.

In [51]:
busWeight = 12650

print(f'On Earth, a double-decker bus weighs {busWeight} kg.')
print(f'The lightest a bus would be in the solar sytem is: {busWeight * min(gravityOnPlanets)} kg.')
print(f'The heaviest a bus would be in the solar system is: {busWeight * max(gravityOnPlanets)} kg.')

On Earth, a double-decker bus weighs 12650 kg.
The lightest a bus would be in the solar sytem is: 4781.7 kg.
The heaviest a bus would be in the solar system is: 29854.0 kg.

## Manipular datos de Lista

### Slice List

Puedes recuperar una parte de una lista mediante un `slice()` (Podemos entender slice como una porción, un pedacito, un fragmento, segmento). `Slice` utiliza corchetes, pero en lugar de un solo elemento, tiene los índices inicial y final de los elementos que queremos recuperar. Cuando usamos `slice`, se crea una nueva lista que comienza con el índice inicial y que termina antes (Y NO INCLUYE) el índice final.

La lista de planetas tiene 8 elementos. La Tierra es la tercera en la lista. Para obtener los planetas antes que la Tierra, use un `slice` para obtener los elementos que comienzan en 0 y terminan en 2:

In [53]:
planetsBeforeEarth = planets[0:2]
print(planetsBeforeEarth)

['Mercury', 'Venus']

Obteniendo los plantes depués de la Tierra:

In [55]:
planetsAfterEarth = planets[3:]
print(planetsAfterEarth)

['Red Planet', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

### Uniendo Listas

¿Cómo podemos unir listas que han sido separadas por un slice?

Para unir listas, debemos usar el operador `+` con dos listas para devolver una nueva lista.

Hay 79 lunas conocidas de Júpiter. Las cuatro más grandes son Io, Europa, Ganímedes y Calisto. Estas se llaman las lunas galileanas, porque Galileo Galilei las descubrió usando su telescopio en 1610. Más cerca de Júpiter que del grupo galileo está el grupo de Amaltea. Consiste en las lunas Metis, Adrastea, Amaltea y Teba.

Crearemos dos diferentes listas par cada gupo, luego las uniremos de la siguiente forma:

In [56]:
amaltheaGroup = ['Metis', 'Adrastea', 'Amaltea', 'Teba']
galileanGroup = ['Io', 'Europa', 'Ganimedes', 'Calisto']

someJupiterMoons = amaltheaGroup + galileanGroup

print(someJupiterMoons)

['Metis', 'Adrastea', 'Amaltea', 'Teba', 'Io', 'Europa', 'Ganimedes', 'Calisto']

### Ordenar Listas

Para ordenar una lista usamos el método `sort()`. Python ordenará la lista de cadenas en orden alfabético y una lista de números en orden numérico:

In [57]:
someJupiterMoons.sort()

print(f'Some Jupiter Moons are: {someJupiterMoons}')

Some Jupiter Moons are: ['Adrastea', 'Amaltea', 'Calisto', 'Europa', 'Ganimedes', 'Io', 'Metis', 'Teba']

Para ordenar una lista en forma inversa:

In [58]:
someJupiterMoons.sort(reverse=True)

print(f'Some Jupiter Moons are: {someJupiterMoons}')

Some Jupiter Moons are: ['Teba', 'Metis', 'Io', 'Ganimedes', 'Europa', 'Calisto', 'Amaltea', 'Adrastea']